﻿.menuLogo{
    height:45px;
    border:none;
    background-color:#000411;
    color:white;
    font-size:26px;
    font-weight:900;
    font-family:'Khmer UI';
}
.menuButton{
    height:45px;
    border:none;
    background-color:#000411;
    color:white;
    display:inline-block;
    vertical-align:top;
}
.menuButton:hover{
    background-color:#2B2E38;

}
.footerButton{
    height:25px;
    border:none;
    background-color:#000411;
    color:white;
    display:inline-block;
    vertical-align:top;
}
.footerButton:hover{
    background-color:#2B2E38;

}
.menu{
    background-color:#000411;
    width:100%;
}
.resultsViewer{
    width:Calc(100% - 40px);
    margin-left:40px;
}
.textboxcontrol{
    width:99%;
    background-color:white;
    border:solid;
    border-width:1px;
    border-color:lightgrey;
    resize:none;
}
.normalButton{
    height:35px;
    border:none;
    background-color:#000411;
    color:white;
}
.normalButton:hover{
    background-color:#2B2E38;
}
.pageSelector{
    margin-left:40px;
}