﻿html{
    font-family:Verdana, Geneva, sans-serif;
    background-color:#FCFCFC;
}
body{
    margin:0px;
}
a{
    color:#2B2E38;
    text-decoration: none;
}
em.money{
    color:#BE2100;
    font-style:normal;
}

.dealTease{
   
    border-bottom:solid;
    border-bottom-width:1px;
    border-bottom-color:lightgray;
}
.dealTease:hover{
    background-color:#F2F2FF;
}
.dealTeaseTitle{
    font-size:18px;

}
.dealTeaseLeft{
    display:inline-block;
    vertical-align:top;
    width:60px;
    font-size:10px;
}
.dealTeaseCenter{
    display:inline-block;
    vertical-align:top;
    width:Calc(100% - 300px);
    font-size:10px;
}
.dealTeaseRight{
    display:inline-block;
    vertical-align:top;
    width:190px;
}
.maincontent{
    display:inline-block;
    vertical-align:top;
    width:70%;
}
.sideMenu{
    display:inline-block;
    vertical-align:top;
    width:28%;
}
.em.textSmall{

}
.forum{
    width:Calc(100% - 40px);
    margin-left:40px;
}
.forumDealDescription{
    font-size:14px;
}
em.comments{
    font-size:18px;
    font-style:normal;
   
}
.forumTitle{
     font-size:18px;
}

.forumComment{

}
.forumCommentInfo{
    font-size:10px;
}
.forumCommentText{
    display:inline-block;
    vertical-align:top;
    width:70%;
    font-size:14px;
}
.forumCommentLeft{
    display:inline-block;
    vertical-align:top;
    width:18%;
}
.forumCommentRight{
    display:inline-block;
    vertical-align:top;
    width:10%;
}
.forumSelection{
    padding:4px;
    padding-right:10px;
    display:inline-block;
    font-size:10px;
}
a.forumSelection{
    font-size:14px;
}
.account{
    width:calc(100% - 20px);
    font-size:14px;
    border:solid;
    border-color:lightgrey;
    border-width:1px;
    border-radius:5px;
    margin-left:1px;
    padding:10px;
}
.pageSelectorButton{
    display:inline-block;
    border:solid;
    border-width:1px;
    margin-left:1px;
    border-color:lightgrey;
}
.pageSelectorButton:hover{
    background-color:lightgrey;
}
.pageSelectorButtonSelected{
    display:inline-block;
    border:solid;
    border-width:1px;
    margin-left:1px;
    border-color:lightgrey;
    background-color:lightgray;
}
.replytoForum{
    background-color:#CCCCCC;
    width:100%;
    border:solid;
    border-width:1px;
    border-color:black;  
}
.sidebar{
    width:90%;
    margin-left:10px;
    padding:1px;
}
.sideBarModule{
    width:100%;
    border:solid;
    border-width:1px;
    border-color:#E2E2E2;
    border-top:none;
    font-size:14px;
    padding-left:2px;
}
.sideBarTitle{
   width:100%;
   border:solid;
   border-width:1px;
   border-color:#E2E2E2;
   background-color:black;
   color:white;
   font-size:18px;
   padding-left:2px;
}
.sidebarTease{

}
.sidebarLeft{

}
.sidebarCenter{
    font-size:10px;
}
.sidebarRight{

}
.sidebarTeaseTitle{
    font-size:14px;
}
.code{
    border:none;
    width:80%;
    font-size:19px;
    color:#353535;
    background-color:#FCFCFC;  
}
.footer{
    background-color:#000411;
    width:100%;
    height:30px;
}