﻿body {
}
html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:16px;
    background-color:#1E1E1E;
    color:white;
    text-align:center;
}
.title{
    margin-bottom:10px;
}
.content{

}
.titleButton{
    width:24%;
    border:none;
    background-color:#1E1E1E;
    color:white;
    padding:8px;
}

.titleButton:hover{
    background-color:black;
    color:white;
}


.footer{
    font-size:8px;
    color:#A0A0A0;
}
.infomation{
   position:absolute;
   top:80px;
   right:20px;
   background-color:white;
   color:black;
   font-size:18px;
   padding: 4px 16px 4px 16px;
   width:160px;
   
}
.infomationTitle{
    font-weight:600;
}
.infomationContent{
     font-size:12px;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 35px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.servicesContent{
    font-size: 18px;
}