﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Main.aspx.cs" Inherits="MySite.Main" %>

<!DOCTYPE html>
<link href="css/main.css" rel="stylesheet" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Rhynite</title>
      <script src="scripts/gl-matrix.js"></script>
      <script src="scripts/phoria-util.js"></script>
      <script src="scripts/phoria-entity.js"></script>
      <script src="scripts/phoria-scene.js"></script>
      <script src="scripts/phoria-renderer.js"></script>
      <script src="scripts/phoria-view.js"></script>
      <script src='scripts/dat.gui.min.js'></script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div class="title">
            <button type="button" class="titleButton" >Home</button>
            <button type="button" class="titleButton" >About</button>
            <button type="button" class="titleButton" >Contact</button>
        </div>
        <div class="content">
            <canvas id="c" width="1000" height="500" style="background-color: #1E1E1E"></canvas>
        </div>
        <div class="footer">
           Copyright © 2019 by Benjamin O'Neill. All rights reserved. This website or any portion thereof
           may not be reproduced or used in any manner whatsoever
           without express written permission.
        </div>
        <div class="infomation" id="infomation">
            <div class="infomationTitle" id="infomationTitle">Testing</div>
            <div class="infomationContent" id="infomationContent">This is a Test. Testing <br /><br /> Test Test Test</div>
        </div>
    </div>
    </form>
</body>
</html>
<script>
    (function() {
        var htmlCanvas = document.getElementById('c'),
            context = htmlCanvas.getContext('2d');

       initialize();

       function initialize() {
           window.addEventListener('resize', resizeCanvas, false);
           resizeCanvas();
        }

        function resizeCanvas() {
            htmlCanvas.width = window.innerWidth - 40;
            htmlCanvas.height = window.innerHeight - 100;
        }
    })();


    var requestAnimFrame = window.requestAnimationFrame || window.webkitRequestAnimationFrame ||
                       window.mozRequestAnimationFrame || window.msRequestAnimationFrame ||
                       function (c) { window.setTimeout(c, 15) };

    window.addEventListener('load', onloadHandler, false);


    function onloadHandler() {

        Phoria.Util.importGeometryWavefront({
            url: "objects/ground.obj",
            scaleTo: 12,
            fnSuccess: loadRhynite,
            reorder: false,
            center: true
        });

    }

    function loadRhynite(obj) {

        Phoria.Util.importGeometryWavefront({
            url: "objects/rhynite.obj",
            scaleTo: 5,
            fnSuccess: success,
            reorder: false,
            center: true
        });
        function success(oba) {
            loadRock(obj, oba);
        }
    }

    function loadRock(obj, oba) {
        Phoria.Util.importGeometryWavefront({
            url: "objects/rock.obj",
            scaleTo: 1.6,
            fnSuccess: success,
            reorder: false,
            center: true
        });
        function success(obr) {
            init(obj, oba, obr);
        }
    }
   
    function init(obj, oba, obr)
    {
        var info = document.getElementById('infomation');
        info.style.visibility = "hidden";
        var canvas = document.getElementById('c');
        var scene = new Phoria.Scene();
        scene.camera.position = { x: 0.0, y: 2.0, z: -6.5 };
        scene.perspective.aspect = canvas.width / canvas.height;
        scene.viewport.width = canvas.width;
        scene.viewport.height = canvas.height;
        
        var renderer = new Phoria.CanvasRenderer(canvas);

        var fnGenerateStarfield = function (num, scale) {
            scale = scale || 1;
            var s = scale / 2;
            var points = [];
            for (var i = 0; i < num; i++) {
                // TODO: points too close to the origin (i.e. camera view point) shoud be discared
                points.push({ x: Math.random() * scale - s, y: Math.random() * scale - s, z: Math.random() * scale - s });
            }
            return Phoria.Entity.create({
                points: points,
                style: {
                    color: [200 + ~~(Math.random() * 55), 200 + ~~(Math.random() * 55), 200 + ~~(Math.random() * 55)],
                    drawmode: "point",
                    shademode: "plain",
                    linewidth: 0.75,
                    objectsortmode: "back"
                }
            });
        };
        scene.graph.push(fnGenerateStarfield(500, 2000));


        var ob = Phoria.Entity.create({
            id: "ground",
            points: obj.points,
            polygons: obj.polygons,
            style: {
                specular: 0,
                drawmode: "solid",
                shademode: "lightsource",   //gouraud
                fillmode: "inflate",
                color: [175, 75, 26],
                doublesided: true,
            }
        });
        ob.scaleN(2);
        scene.graph.push(ob);

        // add a light
        scene.graph.push(Phoria.DistantLight.create({
            color: [0.5, 0.5, 1.0],
            intensity: 0.25,
            direction: { x: 0, y: -1, z: 0 }
        }));
        var visibleLightObj = Phoria.Entity.create({
            points: [{ x: -2, y: 40, z: -6 }],
            style: {
                color: [0, 0, 0],
                drawmode: "point",
                shademode: "plain",
                linewidth: 5,
                linescale: 2
            }
        });
        scene.graph.push(visibleLightObj);
        var light = Phoria.PointLight.create({
            color: [1, 1, 1],
            position: { x: -2, y: 14, z: -6 },
            intensity: 0.45,
            attenuation: 0.03
        });
        visibleLightObj.children.push(light);


        var ob2 = Phoria.Entity.create({
            id: "rhynite",
            points: oba.points,
            polygons: oba.polygons,
            style: {
                specular: 0,
                drawmode: "solid",
                shademode: "lightsource",   //rhynite
                fillmode: "inflate",
                color: [255, 247, 86],
               
            }
        });
        ob2.scaleN(2);
        scene.graph.push(ob2);
        ob2.rotateX(1.5708);
        ob2.translateX(-1.5);
        ob2.translateZ(-0.5);
        ob2.translateY(4);

        var ob3 = Phoria.Entity.create({
            id: "gold",
            points: obr.points,
            polygons: obr.polygons,
            style: {
                specular: 0,
                drawmode: "solid",
                shademode: "lightsource",   //gold
                fillmode: "inflate",
                color: [255, 247, 86],

            }
        });
        ob3.scaleN(2);
        scene.graph.push(ob3);
        ob3.translateY(-1);

        var ob4 = Phoria.Entity.create({
            id: "coal",
            points: obr.points,
            polygons: obr.polygons,
            style: {
                specular: 0,
                drawmode: "solid",
                shademode: "lightsource",   //coal
                fillmode: "inflate",
                color: [68, 62, 58],

            }
        });
        ob4.scaleN(2);
        scene.graph.push(ob4);
        ob4.translateY(-1.35);
        ob4.translateX(-2);
        ob4.translateZ(-0.6);


        var ob5 = Phoria.Entity.create({
            id: "emerald",
            points: obr.points,
            polygons: obr.polygons,
            style: {
                specular: 0,
                drawmode: "solid",
                shademode: "lightsource",   //sph
                fillmode: "inflate",
                color: [120, 194, 169],

            }
        });
        ob5.scaleN(2);
        scene.graph.push(ob5);
        ob5.translateY(-1.35);
        ob5.translateX(1.5);
        ob5.translateZ(1.7);


        var ob6 = Phoria.Entity.create({
            id: "ruby",
            points: obr.points,
            polygons: obr.polygons,
            style: {
                specular: 0,
                drawmode: "solid",
                shademode: "lightsource",   //ruby
                fillmode: "inflate",
                color: [83, 43, 51],

            }
        });
        ob6.scaleN(2);
        scene.graph.push(ob6);
        ob6.translateY(-1.35);
        ob6.translateX(-1);
        ob6.translateZ(2.1);

        var ob7 = Phoria.Entity.create({
            id: "diamond",
            points: obr.points,
            polygons: obr.polygons,
            style: {
                specular: 0,
                drawmode: "solid",
                shademode: "lightsource",   //ruby
                fillmode: "inflate",
                color: [226, 244, 243],

            }
        });
        ob7.scaleN(2);
        scene.graph.push(ob7);
        ob7.translateY(-1.65);
        ob7.translateX(1);
        ob7.translateZ(-2.7);



        var velocityX = 0.004;
        var velocityZ = 0.004;
        scene.triggerHandlers.push({
            trigger: function () {

                if (velocityX > 150) {
                    velocityX = 150;
                }
                if (velocityZ > 150) {
                    velocityZ = 150;
                }
                if (velocityX < -150) {
                    velocityX = -150;
                }
                if (velocityZ < -150) {
                    velocityZ = -150;
                }
                velocityX = velocityX * 0.99;
                velocityZ = velocityZ * 0.99;
                if (velocityX <= 0.001 && velocityX >= -0.001) {
                    velocityX = 0;
                }
                if (velocityZ <= 0.001 && velocityZ >= -0.001) {
                    velocityZ = 0;
                }
                scene.camera.position = { x: scene.camera.position.x + velocityX * 0.01, y: scene.camera.position.y, z: scene.camera.position.z + velocityZ * 0.01 };
                if (scene.camera.position.x > 10) {
                    scene.camera.position.x = 10;
                    velocityZ = 0;
                    velocityX = 0;
                }
                if (scene.camera.position.x < -10) {
                    scene.camera.position.x = -10;
                    velocityZ = 0;
                    velocityX = 0;
                }
                if (scene.camera.position.z > 10) {
                    scene.camera.position.z = 10;
                    velocityZ = 0;
                    velocityX = 0;
                }
                if (scene.camera.position.z < -10) {
                    scene.camera.position.z = -10;
                    velocityZ = 0;
                    velocityX = 0;
                }
            }
        });


        var pause = false;
        var fnAnimate = function () {
            if (!pause) {
                // execute the model view 3D pipeline and render the scene
                scene.modelView();
                if (velocityZ != 0 || velocityX != 0) {
                    renderer.render(scene);
                }
            }
            requestAnimFrame(fnAnimate);
        };
       
        requestAnimFrame(fnAnimate);
        

        document.addEventListener('keydown', function (e) {
            var vector = vec3.fromValues(0, 0, 1);
            switch (e.keyCode) {
                case 87: // W
                    // move forward along current heading
                    v1 = vec3.fromValues(0, 0, 1);
                    v2 = vec3.fromValues(scene.camera.position.x, scene.camera.position.y, scene.camera.position.z);
                    vec3.subtract(vector,v1,v2);
                    len = Math.sqrt(vector.x * vector.x + vector.z * vector.z); //get the vec's length
                    vector.x /= len;  // normalise by dividing by its length
                    vector.z /= len;
                    velocityX += vector[0];
                    velocityZ += vector[2];
                    break;
                case 83: // S
                    // move back along current heading
                    v1 = vec3.fromValues(0, 0, 1);
                    v2 = vec3.fromValues(scene.camera.position.x, scene.camera.position.y, scene.camera.position.z);
                    vec3.subtract(vector, v1, v2);
                    len = Math.sqrt(vector.x * vector.x + vector.z * vector.z); //get the vec's length
                    vector.x /= len;  // normalise by dividing by its length
                    vector.z /= len;
                    velocityX -= vector[0];
                    velocityZ -= vector[2];
                    break;
                case 65: // A
                    v1 = vec3.fromValues(0, 0, 1);
                    v2 = vec3.fromValues(scene.camera.position.x, scene.camera.position.y, scene.camera.position.z);
                    vec3.subtract(vector, v1, v2);
                    len = Math.sqrt(vector.x * vector.x + vector.z * vector.z); //get the vec's length
                    vector.x /= len;  // normalise by dividing by its length
                    vector.z /= len;
                    velocityX -= vector[2];
                    velocityZ += vector[0];
                    break;
                case 68: // D
                    v1 = vec3.fromValues(0, 0, 1);
                    v2 = vec3.fromValues(scene.camera.position.x, scene.camera.position.y, scene.camera.position.z);
                    vec3.subtract(vector, v1, v2);
                    len = Math.sqrt(vector.x * vector.x + vector.z * vector.z); //get the vec's length
                    vector.x /= len;  // normalise by dividing by its length
                    vector.z /= len;
                    velocityX += vector[2];
                    velocityZ -= vector[0];
                    break;
            }
       


        }, false);

        var mouse = Phoria.View.addMouseEvents(canvas, function () {
            // pick object detection on mouse click
            var cpv = Phoria.View.calculateClickPointAndVector(scene, mouse.clickPositionX, mouse.clickPositionY);
            var intersects = Phoria.View.getIntersectedObjects(scene, cpv.clickPoint, cpv.clickVector);
         
            var rocktype = "none";
            for (i = 0; i < intersects.length; i++) {
                if(intersects[i].entity.id != "ground"){
                    rocktype = intersects[i].entity.id;
                }
            }
            showInfomation(rocktype);
        });
        function showInfomation(rockType){         
            var titleText = "";
            var titleContent = "";

         
            var infoTitle = document.getElementById('infomationTitle');
            var infoContent = document.getElementById('infomationContent');

            switch (rockType) {
                case "gold":
                    titleText = "Gold";
                    titleContent = "Gold is a relatively rare heavy but soft metal found natuarally.";
                    info.style.visibility = "visible";
                    break;
                case "coal":
                    titleText = "Coal";
                    titleContent = "Coal is a combustible rock made mostly out of carbon.";
                    info.style.visibility = "visible";
                    break;
                case "emerald":
                    titleText = "Emerald";
                    titleContent = "Emerald is a green gemstone";
                    info.style.visibility = "visible";
                    break;
                case "ruby":
                    titleText = "Ruby";
                    titleContent = "Ruby is a hard red gemstone";
                    info.style.visibility = "visible";
                    break;
                case "diamond":
                    titleText = "Diamond";
                    titleContent = "Diamond is made out of carbon arranged in a crystal structure";
                    info.style.visibility = "visible";
                    break;
                default:
                    info.style.visibility = "hidden";
                    break;
            }

            infoTitle.innerHTML = titleText;
            infoContent.innerHTML = titleContent;
        }
    }
</script>