﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="dealTeaser.ascx.cs" Inherits="AmazinBargin.userControls.dealTeaser" %>
<link rel="Stylesheet" href="/css/main.css" type="text/css" />
<link rel="Stylesheet" href="/css/controls.css" type="text/css" />


<div class="dealTease">
    <div class="dealTeaseLeft">
        User Image<br />
        Likes<br />
        Dislikes<br />
    </div>
    <div class="dealTeaseCenter">
        <div class="dealTeaseTitle">Test</div><br />
        by username. Hours ago<br />
        This is a test deal. Lots of deals will come as this site expands<br />
        <br />
        Comments Tag Time
    </div>
    <div class="dealTeaseRight">
        Image of Deal
        <br />
        <br />
    </div>
    


</div>