﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="footer.ascx.cs" Inherits="AmazinBargin.userControls.footer" %>
<link rel="Stylesheet" href="/css/main.css" type="text/css" />
<link rel="Stylesheet" href="/css/controls.css" type="text/css" />
<br /><br />
<div class="footer">
    <asp:Button ID="Button2" runat="server" Text="Terms Of Service" CssClass="footerButton" OnClick="Button2_Click"/>
    <asp:Button ID="Button3" runat="server" Text="Privacy Policy" CssClass="footerButton" OnClick="Button3_Click"/>
</div>