﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="pageSelector.ascx.cs" Inherits="AmazinBargin.userControls.pageSelector" %>
<link rel="Stylesheet" href="/css/main.css" type="text/css" />
<link rel="Stylesheet" href="/css/controls.css" type="text/css" />
<div id="selector" runat="server" class="pageSelector">



</div>