﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SideBar.ascx.cs" Inherits="AmazinBargin.userControls.SideBar" %>

<link rel="Stylesheet" href="/css/main.css" type="text/css" />
<link rel="Stylesheet" href="/css/controls.css" type="text/css" />
<div class="sidebar" id="sidebar" runat="server">
    <div class="sideBarTitle">
        New Deals
    </div>
    <div class="sideBarModule" id="NewDeals" runat="server">
        Great Deal Really Good Deal
        <br />
        <div class="forumCommentInfo">
            12/12/2018 - 11:23   1
        </div><br />
         Another Great Deal
        <br />
        <div class="forumCommentInfo">
            12/12/2018 - 11:23   1
        </div><br />
         Deals Deals
        <br />
        <div class="forumCommentInfo">
            12/12/2018 - 11:23   1
        </div><br />
    </div><br /><br />
    <div class="sideBarTitle">
        New Forums
    </div>
    <div class="sideBarModule" id="NewForums" runat="server">
        How do I find a good Deal
        <div class="forumCommentInfo">
            12/12/2018 - 11:23   1
        </div><br />
         Forum Forum
        <div class="forumCommentInfo">
            12/12/2018 - 11:23   1
        </div><br />
          Okayy Forum
        <div class="forumCommentInfo">
            12/12/2018 - 11:23   1
        </div><br />      
    </div>
</div>