﻿body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height:100vh;
    padding:0px;
    margin:0px;
}
.pad{
    
}
.charts3{
    padding:4px;
    width:32%;
    display:inline-block;
    vertical-align:top;
    text-align:center;
    
}
.info {
    background-image: url('../Images/mainimg.png');
    padding: 12px;
    min-height:350px;
}
.MainText{
    color:#ffffff;
    font-size:30px;
    width:39%;
    margin-left:60%;
    background-color:rgba(0, 0, 0, 0.22);
    padding-left:1%;
}
@media only screen and (max-width: 1200px) {
  .charts3{
        padding:4px;
        width:99%;
        display:block;
        vertical-align:top;
        text-align:center;
        
    }

  .MainText{
        color:#ffffff;
        font-size:30px;
        width:99%;  
        margin-left:0%;
        background-color:rgba(0, 0, 0, 0.82);
        padding-left:1%;
    }
}